#pendo-g-6TmdNA8CgpCYD4Bb20D8IYtF-AA #pendo-guide-container h2 {
  font: var(--cds-typography-body-primary) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #757575 !important;
  text-transform: none !important;
  line-height: 140% !important;
  letter-spacing: 1px !important;
}
